//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW2AR-LV18EQ144PC8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 11 08 23:53:30 2023

IO_LOC "led" 100;
IO_PORT "led" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam2_scl" 87;
IO_PORT "cam2_scl" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam2_pwdn" 112;
IO_PORT "cam2_pwdn" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam2_rst_n" 9;
IO_PORT "cam2_rst_n" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam2_sda" 90;
IO_PORT "cam2_sda" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam1_scl" 61;
IO_PORT "cam1_scl" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam1_pwdn" 80;
IO_PORT "cam1_pwdn" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam1_rst_n" 64;
IO_PORT "cam1_rst_n" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam1_sda" 63;
IO_PORT "cam1_sda" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "eth_rst_n" 125;
IO_PORT "eth_rst_n" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txd[3]" 120;
IO_PORT "rgmii_eth_txd[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txd[2]" 118;
IO_PORT "rgmii_eth_txd[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txd[1]" 122;
IO_PORT "rgmii_eth_txd[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txd[0]" 124;
IO_PORT "rgmii_eth_txd[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txctl" 119;
IO_PORT "rgmii_eth_txctl" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_txc" 123;
IO_PORT "rgmii_eth_txc" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam2_data[7]" 111;
IO_PORT "cam2_data[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[6]" 105;
IO_PORT "cam2_data[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[5]" 4;
IO_PORT "cam2_data[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[4]" 101;
IO_PORT "cam2_data[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[3]" 102;
IO_PORT "cam2_data[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[2]" 10;
IO_PORT "cam2_data[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[1]" 11;
IO_PORT "cam2_data[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_data[0]" 7;
IO_PORT "cam2_data[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_href" 92;
IO_PORT "cam2_href" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_vsync" 88;
IO_PORT "cam2_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam2_pclk" 3;
IO_PORT "cam2_pclk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[7]" 76;
IO_PORT "cam1_data[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[6]" 71;
IO_PORT "cam1_data[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[5]" 70;
IO_PORT "cam1_data[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[4]" 69;
IO_PORT "cam1_data[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[3]" 68;
IO_PORT "cam1_data[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[2]" 67;
IO_PORT "cam1_data[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[1]" 66;
IO_PORT "cam1_data[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_data[0]" 65;
IO_PORT "cam1_data[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_href" 62;
IO_PORT "cam1_href" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_vsync" 60;
IO_PORT "cam1_vsync" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam1_pclk" 78;
IO_PORT "cam1_pclk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxd[3]" 114;
IO_PORT "rgmii_eth_rxd[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxd[2]" 115;
IO_PORT "rgmii_eth_rxd[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxd[1]" 116;
IO_PORT "rgmii_eth_rxd[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxd[0]" 117;
IO_PORT "rgmii_eth_rxd[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxctl" 113;
IO_PORT "rgmii_eth_rxctl" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgmii_eth_rxc" 121;
IO_PORT "rgmii_eth_rxc" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip[3]" 59;
IO_PORT "dip[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip[2]" 58;
IO_PORT "dip[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip[1]" 57;
IO_PORT "dip[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "dip[0]" 56;
IO_PORT "dip[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "key_in" 30;
IO_PORT "key_in" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sys_rst_n" 29;
IO_PORT "sys_rst_n" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sys_clk" 6;
IO_PORT "sys_clk" PULL_MODE=UP BANK_VCCIO=1.8;
